@import '../../../assets/css/mixins.less';
@import '../../../assets/css/base.less';

.index-wrapper{
    width: 100%;
    .index-main{
        width: 100%;
        padding: 40px @common-padding;
    }
    .index-msg-box{
        background: @bg-gray;
        margin-bottom: 30px;
        width: 100%;
        p.p-warn{
            padding: 8px;
        }
    }
    .index-msg{
        width: 100%;
        padding: 30px 0;
        .ik-box;
        .ik-box-pack(center);
        .index-item{
            .ik-box-flex(1);
            font-size: 12px;
            .ik-box;
            .ik-box-align(center);
            .ik-box-pack(center);
            &>div{
                text-align: center;
            }
        }
        .index-item-money{
            font-size: 20px;
            margin-bottom:20px; 
        }
    }
    .index-content{
        width: 100%;
        margin-top: 30px;
        .el-tabs__header{
            padding: 0;
        }
    }
    .index-from{
        width: 100%;
        margin: 20px 0;
        a{
            display: inline-block;
            line-height: 1;
            white-space: nowrap;
            cursor: pointer;
            background: #fff;
            border: 1px solid #c4c4c4;
            color: #1f2d3d;
            margin: 0;
            padding: 10px 15px;
            border-radius: 4px;
        }
        a:hover{
            border: 1px solid #3aa7ff;
            color:#3aa7ff;
        }
    }
}