<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css"/>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.3&key=3b73726ac868e5fcf8e26513ce6860d1&plugin=AMap.Autocomplete,AMap.PlaceSearch,AMap.Geocoder,AMap.Marker"></script>
    <title>商场营销</title>
  </head>
  <body>
    <div id="app">
       <router-view></router-view> 
       <notice></notice>
       <dialog-warn ref="dialog"></dialog-warn>
       <copy-url ref="dialogQR"></copy-url>
	  </div>
  </body>
</html>
